@font-face {
    font-family: halcombold;
    src: url(halcombold.woff);
}

@font-face {
    font-family: halcomlight;
    src: url(halcomlight.woff);
}

@font-face {
    font-family: halcomthin;
    src: url(halcomthin.woff);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    text-decoration: none;
    color: white;
    scroll-behavior: smooth;
}

::selection {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.571);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.687);
}

html {
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    scroll-snap-type: mandatory;
}

body {
    height: 700vh;
    overflow-y: overlay;
    overflow-x: hidden;
}

.section {
    height: 100vh;
    position: relative;
    scroll-snap-align: start;
    z-index: 100;
}

#mainsection {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(10, 10vh);
    grid-template-columns: repeat(20, 5vw);
    scroll-snap-align: start;
}

#leftsection {
    grid-row: 1 / 11;
    grid-column: 1 / 10;
    background-color: #6211a7;
    transition: background-color 0.7s;
}

#rightsection {
    grid-row: 1 / 11;
    grid-column: 10 / 21;
    background-color: #c6c6c8;
    transition: background-color 0.7s;
}

#circularsection {
    grid-row: 2 / 6;
    grid-column: 8 / 12;
    transform: translate(-15%, -5%);
    width: 23vw;
    height: 23vw;
    border-radius: 50%;
    background-color: #6011a5;
    transition: background-color 0.7s;
}

#circularsection::after {
    content: "";
    position: absolute;
    width: 23vw;
    height: 23vw;
    top: 0;
    left: -1%;
    background-image: url(images/svg-with-paths.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#img1 {
    grid-row: 6/ 7;
    grid-column: 2/ 8;
    background: url(images/world-communication-awards-for-best-digital-experience.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 18vw;
    height: 12vh;
    transform: translate(0, -10px);
    border-radius: 5px;
}

#p1 {
    grid-row: 3/ 5;
    grid-column: 3/ 11;
    font-size: 50px;
    font-family: 'halcombold';
    letter-spacing: 1px;
    z-index: 2;
    margin: 5vh 0 0 3vw;
    width: 40vw;
}

#p2 {
    grid-row: 4/ 5;
    grid-column: 5/ 11;
    margin: 5vh 0 0 3vw;
    font-family: 'halcomlight';
    font-size: 20px;
    font-weight: bold;
    z-index: 2;
}

.p3 {
    grid-row: 7/ 8;
    grid-column: 2/ 6;
    margin-top: 20px;
    font-size: 42px;
    font-family: 'halcombold';
    display: flex;
    flex-direction: column;
}

.p4 {
    grid-row: 8/ 9;
    grid-column: 2/ 6;
    width: 20vw;
    margin-top: 20px;
    font-size: 13px;
    line-height: 20px;
    font-family: 'halcomlight';
}

.casestudy {
    grid-row: 10/ 11;
    grid-column: 2/ 3;
    margin: 20px 0 0 15px;
    font-size: 9px;
    width: 15vw;
    font-family: 'halcomthin';
}

#skip {
    grid-row: 10/ 11;
    grid-column: 8/ 9;
    margin-top: 20px;
    font-size: 15px;
    letter-spacing: 5px;
    font-family: 'halcomlight';
    font-weight: bold;
}

#img2 {
    grid-row: 2/ 10;
    grid-column: 11/ 16;
    transform: translate(1%, 3%);
    height: 80vh;
    width: 23vw;
    background: url(images/nexgtv-entertainment-mobile-app-development.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#img3 {
    grid-row: 2/ 10;
    grid-column: 15/ 20;
    transform: translate(1%, 3%);
    height: 80vh;
    width: 23vw;
    background: url(images/nexgtv-mobile-app-ui-design.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}